body{
    background-color: black;
    color: white;
    font-family:monospace;
}
h1{
    justify-content: center;
    text-align: center;
    font-size: 50px;
}

.counters {
    font-size: 40px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.selections {
    height: 100px;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.selections button {
    background-color: #5643fd; /* Green */
    border-radius: 10px;
    width: 7em;
    color: #1d1135;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
}

.results {
    margin-left: 15%;
    margin-right: 15%;
    height: 200px;
    border: 2px solid #ba1e68;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.play-again {

    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-again button {
    background-color: #0c164f;
    border-radius: 10px;
    width: 7em;
    color: #fcfbfe;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
}

.footer {
    margin-top: 50%;
}
